<configuration>
    <property name="LOG_DIR" value="logs/api-ms-email.log"/>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/api-ms-email.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="com.microservices.server" level="debug" additivity="false">
        <appendder-ref ref="FILE-ROLLING"/>
    </logger>
    <root level="info">
        <appendder-ref ref="FILE-ROLLING"/>
    </root>
</configuration>